{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-bottom:100px">
<form method="POST" class="border border-3 border-primary">
    <div class="mb-3">{% csrf_token %}
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
    <div class="mb-3">
      <label for="pass1" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}

</div>
      
{% endblock content %}